:root {
  --primary1: hsl(0, 36%, 70%);
  --primary2: hsl(0, 93%, 68%);
  --neutral1: hsl(0, 6%, 24%);
}

/* Reset "ish" */

*,
html,
body {
  margin: 0;
  padding: 0;
  outline: none;
  font-size: 16px;
  line-height: 24px;
  box-sizing: border-box;
}

body {
  background-image: url('/images/bg-pattern-desktop.svg');
  background-size: cover;
  font-family: 'Josefin Sans', Arial;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/* Typography Stuff */

h1 {
  font-size: 2.6em;
  line-height: 1em;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--primary1);
  letter-spacing: 22px;
  margin-bottom: 30px;
}

.pop-text {
  font-size: 1em;
  font-weight: 600;
  color: #333;
}

.content p {
  font-size: 0.9em;
  color: var(--primary1);
  font-weight: 600;
}


.main-container {
  width: 100%;
  max-width: 375px;
  margin: 0 auto 40px auto;
  padding-top: 10px;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 300px 1fr;
  grid-template-areas:
    "header"
    "hero"
    "content";
}

img.logo {
  width: 140px;
}

img.hero-img {
  object-fit: cover;
}

.icon {
  width: 15px;
  height: auto;
}

.header {
  grid-area: header;
  padding: 30px;
}

.hero {
  grid-area: hero;
  overflow: hidden;
}

.content {
  grid-area: content;
  text-align: center;
  padding: 90px 30px 30px 30px;
}

/* Input and Form Styles */

.email-form {
  margin-top: 50px;
  position: relative;
}

.email-form input[type=email] {
  padding: 16px;
  padding-left: 25px;
  color: var(--primary1);
  font-size: 14px;
  font-family: 'Josefin Sans', Arial;
  border: 1px solid var(--primary1);
  float: left;
  width: 100%;
  background: transparent;
  border-radius: 28px;
}

.email-form input[type=email]::placeholder {
  color: var(--primary1);
}


.content p.validation {
  font-size: 0.8em;
  margin-left: 25px;
  margin-top: 5px;
  display: none;
  height: 20px;
}

.error-icon {
  position: absolute;
  right: 22%;
  top: 35%;
  display: none;
}

.email-form input[type=email]:invalid {
  border-color: var(--primary2);
}

input:invalid~.validation,
input:invalid~.error-icon {
  display: block;
}


/* Style the submit button */
.email-form button {
  float: left;
  width: 20%;
  padding: 16px;
  margin-left: -20%;
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  color: white;
  font-size: 17px;
  border: none;
  border-left: none;
  /* Prevent double borders */
  cursor: pointer;
  text-align: center;
  border-radius: 28px;
}


.email-form button img {
  margin: 0 auto;
}


.email-form button:hover {
  background: linear-gradient(135deg, hsl(0, 74%, 74%), hsl(0, 80%, 86%));
}

/* Clear floats */
.email-form::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (min-width: 700px) {
  h1 {
    font-size: 4em;
    margin-bottom: 30px;
  }

  .content p {
    font-size: 1em;
    line-height: 1.8em;
    color: var(--primary1);
    font-weight: 600;
  }

  .main-container {
    max-width: 100%;
    padding: 0;

  }

  .main-grid {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas:
      "header  hero"
      "content hero";
  }

  .content,
  .header {
    text-align: left;
    padding-left: 22%;
    padding-right: 24%;
  }

  img.hero-img {
    height: 100vh;
  }
}